.jumbotron{
    background-color:midnightblue;
    color: white;
    padding-bottom: 10px;
}
.checking{
    background-color: lightgrey;
    color: midnightblue;
    padding-right: 20px;
}
.emergency{
    background-color: lightgrey;
    color: midnightblue;
    padding-right: 20px;
}
.history{
    color: midnightblue;
}
.hr{
    background-color: midnightblue;

}
