{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracker App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/expense.css' %}">
</head>
<body>
<div class="jumbotron">
    <h1>{{user.get_username}} Expense Tracker</h1>
    <h5 align="right">Save more money</h5>
</div>
{% block body %}
{% endblock %}
</body>
</html>