{% extends "expenseApp/base.html" %}

{% block body %}

{% if user.is_authenticated %}

{% else %}
Not logged in
{% endif %}

{% if form_list %}
    {% for eachItem in form_list %}
    <div align="right" class="checking">
        <h3>Balance : ${{ eachItem.checking }}</h3>
        <hr class="hr"/>
        <a href="{% url 'transaction' pk=eachItem.pk%}">Log A Transaction</a>
    </div>
    <br>
    <div align="right" class="emergency">
        <h3 >Emergency Funds: ${{ eachItem.emergency }}</h3>
        <hr class="hr"/>
        <a href="{% url 'emergencyTransaction' pk=eachItem.pk %}">Log Emergency Fund Transaction</a>
    </div>
<br>
<hr width="75%" class="hr"/>
<div align="middle" class="history">
    <H1>Transaction History</H1>
    <hr width="75%" class="hr"/>
    {% if history_list %}
    <table>
        <tr>
            <th>Transaction</th>
            <th>Date</th>
        </tr>
        {% for eachHistory in history_list %}
        <tr>
            <td>{{ eachHistory.depositOrWithdrawl }}</td>
            <td>{{ eachHistory.timeOfTransaction }}</td>
        </tr>
        {% endfor %}
    </table>

    {% endif %}
</div>


    {% endfor %}

{% else %}
<p>No Expenses Available.</p>
<strong> Set Up Your Personal Account </strong>
<form action="{% url 'setup' %}">
    <input type="submit" value="Go!">
</form>
{% endif %}

{% endblock %}